
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>

    <link rel="stylesheet" type="text/css" href="~/login/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="~/styles/login.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="fadeIn first">
                @*<img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />*@
                <img src="~/images/logo/IT_LOGO.png" class="logo" id="icon" alt="اللجنة المركزية للمعلوماتية" />
            </div>
            <!-- Login Form -->
            <form action="~/login/VerifyMember" method="get">
                <input type="number" id="memberId" class="fadeIn second" name="memberId" required placeholder="الرقم الحزبي">
                <input type="password" id="password" name="password" class="fadeIn third" required placeholder="Password" maxlength="4">
                <input type="submit" class="fadeIn fourth" value="دخول">
            </form>
            <!-- Remind Passowrd -->
            <div id="formFooter">
                @*<a class="underlineHover" href="#">Forgot Password?</a>*@

                @if (@TempData["locked"] != null)
                {
                    @if (@TempData["locked"].ToString() == "true")
                    {
                        <h4 class="alert alert-danger">Locked</h4>
                    }

                }

                @if (@TempData["verified"] != null)
                {
                    @if (@TempData["verified"].ToString() == "false")
                    {
                        <h4 class="alert alert-danger">الرقم الحزبي او الرقم السري غير صحيح </h4>
                    }

                }
            </div>
        </div>
    </div>
    <!--===============================================================================================-->
    <script src="~/login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/login/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/login/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script>
        $(function () {
            $('#txtpassword').keydown(function (e) {
                var key = e.charCode || e.keyCode || 0;
                // allow backspace, tab, delete, enter, arrows, numbers and keypad numbers ONLY
                // home, end, period, and numpad decimal
                return (
                    key == 8 ||
                    key == 9 ||
                    key == 13 ||
                    key == 46 ||
                    key == 110 ||
                    key == 190 ||
                    (key >= 35 && key <= 40) ||
                    (key >= 48 && key <= 57) ||
                    (key >= 96 && key <= 105));
            });
        });
        
    </script>

</body>
</html>
